/* -------------------------------------------------------------------------- */

.FormTarget { display:none; position:absolute; top:0; left:0; width:0; height:0; } 
.FormTarget IFRAME { width:0; height:0; border:0; overflow:hidden; }  

.ModalTarget { position:absolute; top:0px; left:0; width:0; height:0; border:0; overflow:hidden; }

/* -------------------------------------------------------------------------- */

#Modal {
  display:none; position:absolute;
  top:0; left:0; bottom:0; right:0;
  overflow:hidden;
  background: url(/img/80000000.png) repeat 0 0 transparent;
  background: rgba(0,0,0,0.50);
  zoom: 1;
  z-index:1000;
 }

#ModalBox {
  position:absolute; left:10px; top: 10px;
  width:720px;height:351px;
  background-color: white;
	-moz-box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
  -webkit-box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
  box-shadow: 6px 6px 4px rgba(0,0,0,0.5);
  border: 10px solid #336699;
}

#ModalBox.AutoWidth { width:auto; }
#ModalBox.AutoHeight { height:auto; }
#ModalBox.AutoSize { width:auto; height:auto; }

#ModalClose {
  display:block; position: absolute; right:-10px; top:-10px;
	width: 13px; height: 13px; border: 10px solid #336699;
	background: url(/img/Close.png) no-repeat 0 0 #336699;
	cursor:pointer;
}

#ModalContent {  background-color: white; height:100%; }
#ModalContent FORM { margin:0; padding: 10px 10px 10px 10px; }

BODY.Modal #Modal { display:block; }

BODY.ModalMedia #Modal {
  background: url(/img/D0000000.png) repeat 0 0 transparent;
  background: rgba(0,0,0,0.85);
 }

BODY.ModalMedia #ModalBox { border-color: #000000; }
BODY.ModalMedia #ModalClose { border-color: #000000; background-color: #000000; opacity:0.25 }
BODY.ModalMedia #ModalClose:hover { opacity:1; } 
BODY.ModalMedia #ModalContent { background-color: #000000; }

BODY.ModalMedia #ModalBox.Youtube { width:auto; height:auto; }
BODY.ModalMedia #ModalContent.Youtube { padding:23px; }
BODY.ModalMedia #ModalContent.Youtube IFRAME { background-color: #000000; }

BODY.ModalMedia #ModalBox.Vimeo { width:auto; height:auto; }
BODY.ModalMedia #ModalContent.Vimeo { padding:23px; }
BODY.ModalMedia #ModalContent.Vimeo IFRAME { background-color: #000000; }

BODY.Rounded #Modal #ModalBox {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #404040;
  }

BODY.Rounded #Modal #ModalClose {
    -webkit-border-radius: 0 10px 0 10px;
    -moz-border-radius: 0 10px 0 10px;
    border-radius: 0 10px 0 10px;
  }

/* -------------------------------------------------------------------------- */

INPUT.TxtVide { color:#C0C0C0; font-style:italic; }

#MainDlg { margin : 10px 20px 20px 20px; -webkit-user-select: none; }

.Dlg INPUT[type="text"], .Dlg INPUT[type="password"] { padding:3px; border:1px solid #336699; font-size:10pt; }

.Dlg INPUT[type="submit"] { border:1px solid #336699; color:white; background-color:#336699; font-size:12pt; font-weight:normal; padding:3px 6px; -webkit-appearance: none; }

.Dlg H4 { font-size:14pt; color:#c0c0c0; padding-bottom:4px; }

.Dlg TABLE.Form {}
.Dlg TABLE.Form TH { font-size:10pt; font-weight:normal; padding:2px 4px 2px 2px; text-align:right; }
.Dlg TABLE.Form TD { font-size:10pt; padding:2px 2px 4px 2px; }

.Dlg BUTTON        { border:0; padding:4px 6px; font-size:10pt; }
.Dlg BUTTON.BtnRed { color:white; background-color: #C00000;    }

BODY.Rounded .Dlg BUTTON,
BODY.Rounded .Dlg INPUT[type="text"],
BODY.Rounded .Dlg INPUT[type="password"],
BODY.Rounded .Dlg INPUT[type="submit"] {
 -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
         border-radius: 3px 3px 3px 3px;
 }

/* -------------------------------------------------------------------------- */

.AnyLeftIcon {
 	padding-left: 28px;
 	background-image: none;
 	background-repeat: no-repeat;
 	background-position: 6px center;
}

.RightIconMail {
 	padding-right: 22px;
 	background-image: url(/img/icon/email.png);
 	background-repeat: no-repeat;
 	background-position: right center;
}

A.RightIconMail { color:inherit; text-decoration:none; }
A.RightIconMail:hover { text-decoration:underline; }

/* -------------------------------------------------------------------------- */

.Loading { background: url(/img/loading.gif) no-repeat center center transparent; pointer-events:none; }
.Loading  > * { -moz-opacity:0.1; opacity:0.1; pointer-events: none; }

.Updating { -moz-opacity:0.1; opacity:0.1; pointer-events:none; }

.DummyLoading      { min-height: 40px; min-width:40px; }
.DummyLoadingSmall { background-image: url(/img/loading-small.gif); min-height: 24px; min-width:24px; }

/* -------------------------------------------------------------------------- */

#SplashAlert {
	position: absolute;
	z-index:3000;
	top:0; left:0;
	padding:10px;
	color:white;
	min-width:250px;
	background: transparent url(/img/80000000.png) repeat scroll;
}

#SplashAlert.WaitAlert { visibility:hidden; }
#SplashAlert.Waiting { visibility:visible; }


BODY.Rounded #SplashAlert {
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
}

/* -------------------------------------------------------------------------- */

BODY.PMenu {
               -moz-user-select: -moz-none;
             -khtml-user-select: none;
            -webkit-user-select: none;
                 -o-user-select: none;
                    user-select: none;
           }

.PMenuSubMenu {
  display:none;
  position:absolute;
  top:-500px;
  left:-500px;
  z-index:2000;
  background-color:white;
  overflow:hidden;
  padding:5px 0px 5px 0px;
  border:4px solid #336699;
  -webkit-box-shadow:  2px 2px 2px  rgba(0,0,0,0.25);
     -moz-box-shadow: 2px 2px 2px  rgba(0,0,0,0.25);
          box-shadow: 2px 2px 2px  rgba(0,0,0,0.25);
}

BODY.Rounded .PMenuSubMenu {
   -webkit-border-radius: 0 4px 4px 4px;
      -moz-border-radius: 0 4px 4px 4px;
           border-radius: 0 4px 4px 4px;
}

.PMenuSubMenu .PMenuItem {
 display:block;
 padding:4px 12px 4px 12px;
 text-decoration:none;
 color:black;
}

.PMenuSubMenu .PMenuItemLeftIcon {
 padding-left: 28px;
 background-image: none;
 background-repeat: no-repeat;
 background-position: 6px center;
}

.PMenuSubMenu A.PMenuItem:hover {
 text-decoration:none;
 color:white;
 background-color:#336699;
}

.PMenuSubMenu A.PMenuItem.Disabled {
 opacity:0.25;
 cursor:default;
}
.PMenuSubMenu A.PMenuItem.Disabled:hover {
 opacity:0.25;
 color:inherit;
 background-color:inherit;
 cursor:default;
}

.PMenuSubMenu .PMenuMultipleItems { padding-left: 26px; background-image: none; background-repeat: no-repeat; background-position: 6px 5px; color:#808080; white-space:nowrap; }
.PMenuSubMenu .PMenuMultipleItems:hover { background-color:#CBD8E5; }
.PMenuSubMenu .PMenuMultipleItems A { display:inline-block; padding:1px 2px 1px 2px; text-decoration:none; color:black; }
.PMenuSubMenu .PMenuMultipleItems A:hover { color:white; background-color:#336699; }
.PMenuSubMenu .PMenuMultipleItems DIV.Small { margin:0 0 0 1px; font-size:8pt; } 
.PMenuSubMenu .PMenuMultipleItems DIV.Small A { color:#808080; }
.PMenuSubMenu .PMenuMultipleItems:hover DIV A { color:black; }
.PMenuSubMenu .PMenuMultipleItems DIV A:hover { color:white; background-color:#336699; }

.PMenuSubMenuFTG { margin-top:-1px; padding-bottom:0; border:4px solid #F2F2F2; }
.PMenuSubMenuFTG #FBLike { margin:8px 12px 0 12px; }
.PMenuSubMenuFTG #FBLike IFRAME { border:none; overflow:hidden; width:370px; height:35px; }
.PMenuSubMenuFTG DIV.GP { margin:4px 12px; }

.PMenuSubMenu DIV.PMenuGroup { margin-bottom:5px; padding:0px 0px 5px 0px; border:0; border-bottom:4px solid #336699; }
.PMenuSubMenu DIV.PMenuGroupLast { margin-bottom:0; padding:0; border:0; }
.PMenuSubMenu HR, .PMenuSubMenu DIV.HR { margin:5px 0 5px 0; padding:2px 0 2px 0;  border:0; color:#336699; background-color:#336699; }

/* -------------------------------------------------------------------------- */

#MainMenu_Ports_SubMenu { width: 320px; white-space:nowrap; }

#MainMenu_Ports_SubMenu .IconPortFav { background-image:url(/img/icon/fav1.png); }
#MainMenu_Ports_SubMenu #PortsFav_Content A SUP { display:block; visibility:hidden; width:16px; height:16px; float:right; overflow:hidden; }
#MainMenu_Ports_SubMenu #PortsFav_Content A:hover SUP { visibility:visible; background-image:url(/img/icon/delete.png); opacity:0.25; }
#MainMenu_Ports_SubMenu #PortsFav_Content A:hover SUP:hover { opacity:1; }

#MainMenu_Ports_SubMenu .Liste { background-image:url(/img/icon/ports.png); }

#MainMenu_Ports_SubMenu .Localisation { background-image:url(/img/icon/loc2.png); }
#MainMenu_Ports_SubMenu DIV.Recherche { background-position: 6px 6px; background-image:url(/img/icon/ports-recherche.png); }
#MainMenu_Ports_SubMenu DIV.Recherche FORM { display:block; position:relative; }
#MainMenu_Ports_SubMenu #MenuPortsRechercheQ { padding:2px 20px 2px 2px; border:1px solid #336699; font-size:10pt; width:220px; }
#MainMenu_Ports_SubMenu #MenuPortsRechercheCANCEL { display:block; position:absolute; top:3px; left:224px; width:16px; height:16px; background: url(/img/icon/cancel-edit.png) no-repeat center center; border:0; margin:0; opacity:0.25; }
#MainMenu_Ports_SubMenu #MenuPortsRechercheCANCEL:hover { opacity:1; }
#MainMenu_Ports_SubMenu #MenuPortsRechercheOK { margin-left:6px; border:1px solid #336699; color:white; background-color:#336699; font-size:10pt; padding:1px 2px 1px 2px; -webkit-appearance: none; }
#MainMenu_Ports_SubMenu #MenuPortsResultat_Content { display:none; border-left:1px solid #AABBCC; margin-top:2px; padding-left:4px; }
#MainMenu_Ports_SubMenu #MenuPortsResultat_Content A { display:block; padding:2px; color:#336699; text-decoration:none; min-width:220px; margin-right:18px; }
#MainMenu_Ports_SubMenu #MenuPortsResultat_Content A:hover { color:#FFFFFF; background-color:#336699; }
#MainMenu_Ports_SubMenu #MenuPortsResultat_Content DIV.TYPE { text-align:center; color:#c0c0c0; margin-right:10px; padding:4px 2px; }
#MainMenu_Ports_SubMenu #MenuPortsResultat_Content DIV.NORES { padding:4px 2px; color:#c0c0c0; }
#MainMenu_Ports_SubMenu #MenuPortsResultat_Content .PP { font-weight:bold; }

#MainMenu_Outils_SubMenu { white-space:nowrap; }
#MainMenu_Outils_SubMenu .Horaire { background-image:url(/img/icon/horaire-maree.png); }
#MainMenu_Outils_SubMenu .Meteo { background-image:url(/img/icon/meteo.png); }
#MainMenu_Outils_SubMenu .Coef { background-image:url(/img/icon/coef.png); }
#MainMenu_Outils_SubMenu .Calendrier { background-image:url(/img/icon/calendrier-maree.png); }
#MainMenu_Outils_SubMenu .Recherche { background-image:url(/img/icon/maree-recherche.png); }
#MainMenu_Outils_SubMenu .Horloge { background-image:url(/img/icon/horloge-maree.png); }
#MainMenu_Outils_SubMenu .NoPort  { display:block; position:absolute; top:0; right:0; margin:6px 4px; padding:6px 8px 6px 28px; background: #F0F0F0 url(/img/icon/ports.png) no-repeat 6px center; }
#MainMenu_Outils_SubMenu .NoPort:hover  { text-decoration:none; }

#MainMenu_Compte_SubMenu .Annonce { padding:10px; }
#MainMenu_Compte_SubMenu .Annonce LI { padding: 2px 2px 2px 15px;  margin:2px 0 2px 10px; list-style-type: none; background-image: url(/img/Flotteur.png); background-repeat: no-repeat; background-position: 0 center; }

BODY.Rounded #MainMenu_Outils_SubMenu .NoPort {
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
 }

BODY.Rounded #MainMenu_Ports_SubMenu INPUT {
 -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
         border-radius: 3px 3px 3px 3px;
 }

/* -------------------------------------------------------------------------- */

.Port U.Fav {
  display:inline-block; position:relative; top:2px;
  background:url(/img/icon/fav0.png) no-repeat 0 0;
  opacity:0.25;
  margin-left:6px;
  height:16px; width:16px;
  font-size:0;
 }

.Port U.Fav:hover { opacity:1; }
.Fav U.Fav        { opacity:1; background-image:url(/img/icon/fav1.png); }


/* -------------------------------------------------------------------------- */

.Slide_Pages { position:relative; overflow:hidden; }
.Slide_Pages .Slide_Page { display:none; position:relative; top:0; z-index:200; }
.Slide_Pages .Slide_Page .Fond { background-position:0 0;background-repeat:no-repeat; }
.Slide_Pages .Selected { display:block; }

.Slide_Selector { position:absolute;text-align:center; z-index:205; }
.Slide_Selector SPAN { display:inline-block; background:url(/img/point-12x12.png) center 0 no-repeat; width:16px; height:12px; margin:0 1px; cursor:pointer; }
.Slide_Selector SPAN.Selected { background-position:center -12px; }

