.carte{
    width: 100%;
    object-fit: scale-down ;
}

.lienGeo {
    margin: 2px;
    max-width: 47%;
    height: auto;
}


.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: scale-down ;
}
.title{
    text-align: center;
    font-size: 40px;
    color: white;
}
p {
    font-size: 21px;
}