.carte {
  width: 100%;
  object-fit: scale-down;
}

.lienGeo {
  margin: 0 1px;
  max-width: 47%;
  height: auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  font-size: 40px;
}

p {
  font-size: 21px;
}

.box {
  display: flex;
  flex-direction: column;
}


.title{
    text-align: center;
    font-size: 40px;
}
    
 p {
    font-size: 21px;
} 

ul {
    justify-content:space-around;
    align-items: flex-end;
    display: flex;
}
.created, .lesdroits {
    display: flex;
    flex-direction: column;  
    text-align: center; 
    color: white;
    list-style-type: none;
	line-height:30px; 
    font-size: 15px;
    margin-bottom: 8px;
    margin-right: 10px;
    margin-top: 80px;

}

li {
    display: inline-flex;
    justify-content: space-between;
}  

.sectionArticle {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

