.carte{
    width: 100%;
    object-fit: scale-down ;
}

.LienGeo {
    margin: 2px;
    max-width: 47%;
    height: auto;
}



.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    object-fit: scale-down ;
}
