section {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex: wrap;
  height: 400px;
}

#partie-faune {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

#disposition-poisson {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#a-savoir {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

article {
  margin-left: 5%;
  margin-right: 5%;
}
#Un {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

#Deux {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 945px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: wrap;
    height: 600px;
    margin-bottom: 0px;
  }
  #partie-faune {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 600px;
  }

  #disposition-poisson {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .petitpoisson {
    width: 200px;
    border-radius: 50px;
  }

  #Un {
    width: 100%;
  }
  #Deux {
    width: 100%;
  }
  #LaFaune {
    margin-bottom: 20px;
  }

  .petitpoisson:hover {
    transform: scale(1.25);
  }

  #a-savoir {
    display: none;
  }
}

.petitpoisson {
  width: 100px;
  border-radius: 50px;
}

.petitpoisson:hover {
  transform: scale(1.75);
}

.title {
  text-align: center;
  font-size: 40px;
}

body {
  overflow-x: hidden;
}

label {
  transition: transform 400ms ease-out;
  display: inline-block;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 1;
}

#label1 {
  background-image: url("image carousel mer/1318.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#label2 {
  background-image: url("image carousel mer/1319.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#label3 {
  background-image: url("image carousel mer/1320.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#label4 {
  background-image: url("image carousel mer/1321.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 400px) {
  #label1 {
    background-image: url("image\ carousel\ mer/carouselportable1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #label2 {
    background-image: url("image\ carousel\ mer/carouselportable2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #label3 {
    background-image: url("image\ carousel\ mer/carouselportable3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  #label4 {
    background-image: url("image\ carousel\ mer/carouselportable4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

form {
  white-space: nowrap;
}
input {
  position: absolute;
}

.keys {
  z-index: 10;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: #fff;
  text-align: center;
  transition: all 300ms linear;
  opacity: 0;
}

input:focus ~ .keys {
  opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1),
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4) {
  z-index: 0;
}

input:nth-of-type(1):checked ~ label {
  transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
  transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
  transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
  transform: translate3d(-300%, 0, 0);
}

label:before,
label:after {
  color: white;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  padding: 1rem;
  font-size: 3rem;
  height: 10rem;
  vertical-align: middle;
  line-height: 10rem;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  cursor: pointer;
}

label:before {
  content: "\276D";
  right: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

label:after {
  content: "\276C";
  left: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.contact {
  margin: 100px;
  margin-bottom: 0px;
}
.formulaire {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}

.created {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: white;
  list-style-type: none;
  line-height: 30px;
  justify-content: space-around;
  margin-right: 20px;
}
.lesdroits {
  font-size: 10px;
}
h3 {
  font-family: "CELTICHD", Arial, Helvetica, sans-serif;
  font-size: 40px;
}
li {
  display: inline-flex;
  justify-content: space-between;
}
ul {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
textarea {
  height: 80px;
  border-radius: 5px;
}
#foot {
  height: 50px;
  position: initial;
  border-radius: 5px;
}
#send {
  border-radius: 5px;
  width: 80px;
  padding: 8px;
  margin: auto;
}
