@font-face{
    font-family : "CELTICHD";
    src : url('CELTICHD.ttf') format('truetype');
}

h1, h2 {
    font-family : "CELTICHD", Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.imageArticle {
    max-width:200px;
    max-height: 130px;
    float: right;
    margin-left:15px ;
    margin-top: 30px;
    transition: width 1s ease-in;
}
.imageArticle:hover {
    max-width: 250px;
    max-height: 160px;  
} 


.image {
    max-width:200px;
    max-height: 130px;
    float: left;
    margin-right:20px; 
    margin-top: 30px;
    transition: width 1s ease-in;
    
}
.image:hover {
    max-width: 250px;
    max-height: 160px;  
} 

.articleimage {
    max-width:200px;
    max-height: 130px;
    float: left;
    margin-right:20px; 
    margin-top: 30px;
    transition: width 1s ease-in;
}
.articleimage:hover {
    max-width: 250px;
    max-height: 160px;  
} 

.articleimg {
    max-width:200px;
    max-height: 130px;
    float: right;
    margin-left:15px ;
    margin-top: 10px;
    transition: width 1s ease-in; 
    
}
.articleimg:hover {
    max-width: 250px;
    max-height: 160px;  
} 

.cidre {
    text-align: right;
    
}

.biscuits {
    text-align: right; 
   
}


h2 { 
  color:white;  
}

p {
    font-size: 21px;
}


    

