p {
  font-size: 21px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
head,
header,
footer {
  background-color: rgb(144, 162, 214);
}

@font-face {
  font-family: "CELTICHD";
  src: url("CELTICHD.ttf") format("truetype");
}

title,
.title {
  font-family: "CELTICHD", Arial, Helvetica, sans-serif;
  padding: 30px;
  font-size: 40px;
}

.menu {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.imgnav {
  background-color: black;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  margin-left: 0px;
  margin-right: 0px;
}

.created {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: white;
  list-style-type: none;
  line-height: 5px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.imgtitre {
  width: 100px;
  border-radius: 50px;
}
